<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/public/css/global.css">
        <link rel="shortcut icon" class="logo" href="/Food.svg" type="image/x-icon">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    </head>

    <header>
        <nav>
            <a href="/">
                <img class="logo" src="/public/img/foodLogoHeader.svg" alt="logo">
            </a>
            
            <div class="buttonLogin">
                <a href="/loginEmpresa">
                    <button>Login Empresa</button>
                </a>
                <a href="/login">
                    <button>Login Cliente</button>
                </a>
            </div>
        </nav>
    </header>
