<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/styles.css">
    
</head>

<header>
   <nav>
    <h1>FoodLand</h1>
    <a href="/homeCliente">
        <button>Restaurantes</button>
    </a>
    <a href="/carrinho">
        <button>Carrinho</button>
    </a>
    <a href="/meusPedidos">
        <button>Meus pedidos</button>
    </a>
    <a href="/meusFavoritos">
        <button>Favoritos</button>
    </a>
    <a href="/logout">Sair</a>
   </nav>
</header>
<style>

:root {
    --cor-fonte-cinza: #3f3f46;
    --cor-fonte-azul: #148387;
    --cor-fundo-branco: #f5f3f0;
    --padding-fixo: 20px 120px;
    --border-radius: 10px;
}
    * {
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    padding: 0;
    margin: 0;

}
    nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #dedbdb;
    padding: var(--padding-fixo);
}

</style>

