:root {
    --cor-fonte-black: #000000;
    --cor-fonte-azul: #7EBDC3;
    --cor-fundo-branco: #DFF2D8;
    --cor-fundo-orange: #ECA457;
    --cor-fundo-red: #84251E;
    --padding-fixo: 20px 120px;
    --border-radius: 10px;
}
    * {
    font-family: Nunito Sans;
    font-size: 20px;
    font-style: normal;
    padding: 0;
    margin: 0;

}
.logo{
    width: 100px;
}
    nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--cor-fundo-orange);
    padding: 5px 120px;
    align-items: center;

}
.buttonLogin{
    display: flex;
    gap: 20px;
}
button{
    padding: 8px;
    border-radius: 12px;
    background-color: transparent;
    font-size: 22px;
  
}
.categoria{
    display: flex;
    align-items: center;
    flex-direction: column;
}