<title>Home</title>
<body>
    <%- include('../views/components/header/headerCliente') %>
    <div class="container">
        <div class="containerCategoria">
            <div>
                Todos
            </div>
            <div>
                Hamburgueria
            </div>
            <div>
                Pizza
            </div>
        </div>
        <h2>Todos os restaurantes</h2>
        <div class="containerRestaurantes">
            <% if (empresas && empresas.length > 0) { %>
                <% empresas.forEach(empresa => { %>
                    <div>
                        <a href="/empresa/<%= empresa.id %>">
                            <p><%= empresa.name %></p> <!-- Supondo que a coluna de nome da empresa é 'name' -->
                        </a>
                    </div>
                <% }) %>
            <% } else { %>
                <p>Nenhum restaurante encontrado.</p>
            <% } %>
        </div>
    </div> 
    
</body>
</html>