<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../views/components/header/header') %>
    <div class="container">
        <div>
            <p>Pesquisar restaunte</p>
        </div>

        <div class="containerCategoria">
            <div>
                Todos
            </div>
            <div>
                Hamburgueria
            </div>
            <div>
                Pizza
            </div>
        </div>
        <h2>Todos os restaurantes</h2>
        <div class="containerRestaurantes">
            <% if (empresas && empresas.length > 0) { %>
                <% empresas.forEach(empresa => { %>
                    <div>
                        <a href="/empresa/<%= empresa.id %>">
                            <p><%= empresa.name %></p> <!-- Supondo que a coluna de nome da empresa é 'name' -->
                        </a>
                    </div>
                <% }) %>
            <% } else { %>
                <p>Nenhum restaurante encontrado.</p>
            <% } %>
        </div>
    </div> 
    
</body>
<style>
    .container{
        display: flex;
        flex-direction: column;
        padding: var(--padding-fixo);
        gap: 20px;
    }
    .containerCategoria{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .containerRestaurantes{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

    }
</style>
    <a href="/logout">Sair</a>
</body>
</html>