<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <title>Login Empresa</title>
</head>
<body>
    <%- include('../views/components/header/header') %>
    <h2>Login Empresa</h2>
    <div class="forms">

   
    <form id="loginFormE">
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="password">Senha</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Entrar</button>
        <a href="/registerEmpresa">Não tem uma conta? Cadastre-se</a>
    </form>
</div>
</body>
</html>
<script>
    document.getElementById('loginFormE').addEventListener('submit', async (event) => {
    event.preventDefault();
    const email = document.getElementById('email').value;
    const password = document.getElementById('password').value;

    try {
        const response = await axios.post('/loginEmpresa', { email, password });
        if (response.data.success) {
            Swal.fire({
                icon: 'success',
                title: 'Sucesso',
                text: 'Login realizado com sucesso!'
            }).then(() => {
                window.location.href = '/homeEmpresa'; // Redireciona para o dashboard após o login bem-sucedido
            });
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Erro',
                text: response.data.error
            });
        }
    } catch (error) {
        Swal.fire({
            icon: 'error',
            title: 'Erro',
            text: error.response ? error.response.data.error : 'Erro ao fazer login.'
        });
    }
});

</script>
<style>
       h2 {
        padding: var(--padding-fixo);
        text-align: center;
    }
    .forms {
        align-items: center;
        text-align: center;
        gap: 10px;
    }
    .forms {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.forms label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.forms input[type="email"],
.forms input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.forms button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.forms button[type="submit"]:hover {
    background-color: #0056b3;
}

.forms a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.forms a:hover {
    text-decoration: underline;
}

</style>