<title>Meus Pedidos</title>
<body>
    <%- include('../views/components/header/headerCliente') %>
    <div class="container">
        <div>
            <h1>Meus Pedidos</h1>
        </div>
        <div class="pedidos">
            <% if (pedidos && pedidos.length > 0) { %>
                <% pedidos.forEach(pedido => { %>
                    <div class="pedido">
                        <h3>Pedido #<%= pedido.id %></h3>
                        <p>Total: R$<%= pedido.total %></p>
                    </div>
                <% }) %>
            <% } else { %>
                <p>Nenhum pedido encontrado.</p>
            <% } %>
        </div>
    </div>
</body>
</html>
