<title>Meus Favoritos</title>
<body>
    <!-- Incluir cabeçalho -->
    <%- include('../views/components/header/headerCliente') %>
    <div class="container">
       
            <h1>Meus Favoritos</h1>
            <% if (restaurantesFavoritos && restaurantesFavoritos.length > 0) { %>
            
            <ul>
                <% restaurantesFavoritos.forEach(restaurante => { %>
                <li class="containerFavs"><%= restaurante.name %>
                    <form class="deleteFavoritoForm" data-restaurante-id="<%= restaurante.id %>">
                        <button class="buttonDelete" type="submit"><span class="material-symbols-outlined">
                            delete
                            </span></button>
                    </form>
                </li>
                <% }) %>
            </ul>
        
            <% } else { %>
                <p>Nenhum restaurante nos favoritos.</p>
            <% } %>
        </div>
    

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('.deleteFavoritoForm').forEach(form => {
                form.addEventListener('submit', async function(event) {
                    event.preventDefault();

                    const restauranteId = this.getAttribute('data-restaurante-id');

                    Swal.fire({
                        title: 'Remover dos Favoritos',
                        text: "Deseja realmente remover este restaurante dos favoritos?",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Sim, remover!',
                        cancelButtonText: 'Cancelar'
                    }).then(async (result) => {
                        if (result.isConfirmed) {
                            try {
                                const response = await axios.post(`/favoritos/delete/${restauranteId}`, {});

                                if (response.status === 200) {
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'Removido!',
                                        text: 'Restaurante removido dos favoritos com sucesso.',
                                    }).then(() => {
                                        // Recarregar a página para refletir a exclusão
                                        window.location.reload();
                                    });
                                } else {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Erro',
                                        text: 'Erro ao remover restaurante dos favoritos.',
                                    });
                                }
                            } catch (error) {
                                console.error('Erro ao remover restaurante dos favoritos:', error);
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Erro',
                                    text: 'Erro ao remover restaurante dos favoritos.',
                                });
                            }
                        }
                    });
                });
            });
        });
    </script>
</body>
</html>
