<title>Meus Favoritos</title>
    <body>
        <!-- Incluir cabeçalho -->
        <%- include('../views/components/header/headerCliente') %>
        <div class="container">
            <div>
                <h1>Meus Favoritos</h1>
                <ul>
                    <% restaurantesFavoritos.forEach(restaurante => { %>
                    <li><%= restaurante.name %>
                        <form action="/favoritos/delete/<%= restaurante.id %>" method="POST" style="display:inline;">
                            <button type="submit">Remover dos Favoritos</button>
                        </form>
                    </li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </body>
</html>
