@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --cor-fonte-black: #000000;
    --cor-fonte-azul: #7EBDC3;
    --cor-fundo-branco: #DFF2D8;
    --cor-fundo-orange: #ECA457;
    --cor-fundo-orange2: #EE9B42;
    --cor-fundo-red: #84251E;
    --padding-fixo: 20px 120px;
    --border-radius: 10px;
}

* {
    font-family: Nunito Sans;
    font-size: 20px;
    font-style: normal;
    padding: 0;
    margin: 0;

}

.logo {
    width: 100px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--cor-fundo-orange);
    padding: 5px 120px;
    align-items: center;

}

.ContainerbuttonLogin {
    display: flex;
    gap: 20px;
}
.buttonLogin{
    padding: 8px;
    background-color: #f9f9f9;
    border: 1px solid #757474;
    border-radius: 5px;
}
.buttonLogin:hover{
    padding: 8px;
    background-color: #cdcdcd;
    border: 1px solid var(--cor-fundo-red);
    border-radius: 5px;
}
.categoria {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 5px rgba(7, 7, 7, 0.1);
    border: 1px solid #ccc;
}
nav a:hover{
    font-weight: bold;
}
/* Forms */
h2 {
    padding: var(--padding-fixo);
    text-align: center;
}

.forms {
    align-items: center;
    text-align: center;
    gap: 10px;
}

.forms {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.forms label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.forms input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.forms button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: var(--cor-fundo-orange);
    color: #fff;
    cursor: pointer;
}

.forms button[type="submit"]:hover {
    background-color: var(--cor-fundo-orange2);
}

.forms a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: var(--cor-fundo-orange);
    text-decoration: none;
}

.forms a:hover {
    text-decoration: underline;
}

/* Home Cliente */
.container {
    display: flex;
    flex-direction: column;
    padding: var(--padding-fixo);
    gap: 20px;
}

.containerCategoria {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.categoria {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ECA457;
    padding: 12px;
    border-radius: 5px;
    width: 200px;

}

a {
    color: inherit;        /* Mantém a cor do texto ao redor */
    text-decoration: none; /* Remove o sublinhado */
}
.empresa:hover {
    box-shadow: 10px 10px 10px rgba(7, 7, 7, 0.1);
}
.empresa {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ECA457;
    width: 250px;
    text-align: center;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 5px 5px 5px rgba(7, 7, 7, 0.1);
}

.containerRestaurantes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}



/* Meus pedidos */
.pedido {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
.item{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0 10px;
}

/* Meus Produtos */
#produtos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.produto {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

.produto h3 {
    margin-top: 0;
    color: var(--cor-fundo-red);
}

.produto p {
    margin-bottom: 10px;
}

/* Pedido Clientes */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

h3 {
    margin-top: 0;
    color: var(--cor-fundo-red);
}

p {
    margin: 0;
}

p.cliente {
    font-weight: bold;
}

p.total {
    font-weight: bold;
}
/* Meus Favoritos */
.containerFavs{
    display: flex;
    justify-content: space-between;
}
.buttonDelete{
    background-color: transparent;
    border: none;
}
.buttonDelete:hover{
    color: var(--cor-fundo-red);
}
/* Empresa Detalhes */
.voltar{
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    font-size: 24px;
}
.buttonFav{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px;
    background-color: var(--cor-fundo-orange);
}
.buttonFav:hover{
    box-shadow: 5px 5px 5px rgba(7, 7, 7, 0.1);
}
#logout{
    font-size: 32px;
}
.buttonCarrinho, .buttonEnviarPedido, .buttonExcluirCarrinho{
    padding: 4px;
    background-color: var(--cor-fundo-orange);
}
input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}
.buttonCarrinho:hover, .buttonEnviarPedido:hover, .buttonExcluirCarrinho:hover{
    box-shadow: 5px 5px 5px rgba(7, 7, 7, 0.1);
}
.liCarrinho p{
    padding: 5px 0;
}